@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
body{
     font-family: 'Noto Sans,Open Sans', sans-serif;
     background-color: rgb(17 17 17);
     cursor:none;
     overflow-y: scroll;
}
section{
    height:100vh;
}
 .whitespace-nowrap {
     white-space: nowrap;
}
 .ml-10 {
     margin-left: 2.5rem;
}
 .d-inline{
     display:inline-block;
}
.item > p{
    background: linear-gradient(to right,rgb(255,255,255) 50%,rgb(37,37,37) 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: right;
    line-height: 1.2;
    font-weight: 790;
    font-size: 5cqh;
    margin: 0.5%;
}
 .uppercase{
     text-transform: uppercase;
}
 .flex{
     display:flex;
}
 .flex-column{
     flex-direction: column;
}
.align-items-center{
    align-items: center;
}
 .align-items-end{
     align-items:end;
}
.justify-content-center{
    justify-content: center;
}
 .justify-content-start{
     justify-content: start;
}
.justify-content-between{
    justify-content: space-between;
}
 .text-white{
     opacity: 1;
     color: rgb(255 255 255);
}
.star{
    width: 25px;
    height: 25px;
    position: relative;
    top: 25%;
}
 .container-circle{
    position: relative;
    color: rgb(167, 114, 114);
    height: 60px;
    font-size: 17px;
    left: 5%;
}
 .circle{
     position: absolute;
     top: 0;
     left: calc(20% - 15px);
     display: inline-block;
     width: 30px;
     height: 60px;
     transform-origin: center bottom;
}
 .styles_circle_1 {
     transform: rotate(0deg);
}
 .styles_circle_2 {
     transform: rotate(30deg);
}
 .styles_circle_3 {
     transform: rotate(60deg);
}
 .styles_circle_4 {
     transform: rotate(90deg);
}
 .styles_circle_5 {
     transform: rotate(120deg);
}
 .styles_circle_6 {
     transform: rotate(150deg);
}
 .styles_circle_7 {
     transform: rotate(180deg);
}
 .styles_circle_8 {
     transform: rotate(210deg);
}
 .styles_circle_9 {
     transform: rotate(240deg);
}
 .styles_circle_10 {
     transform: rotate(270deg);
}
 @keyframes rotation {
     0%{
        transform:rotate(0)
    }
     to{
        transform:rotate(360deg)
    }
}
 .animate-spin{
     animation: rotation 3s linear infinite;
}
 .about{
     font-size:70px;
     margin-top:1%;
}
 .about > div{
     line-height: 0px;
     font-size: inherit;
     position: absolute;
     bottom: 10%;
     right: 5%;
}
 .font-bold{
     font-weight: 600;
}
 a {
     text-decoration: none;
     color: black;
}
 .App-header {
     display: flex;
     flex-direction: column;
     font-size: calc(10px + 2vmin);
     color: white;
}
 a:link, a:visited, a:active {
     text-decoration:none;
     color:white;
}
 .title{
     font-size:20px;
}
 .subtitle{
     font-size:12px;
}
 .container{
     height:100vh;
     margin:1% 5% 5% 5%;
}
/* sm */
 @media (max-width: 640px) {
    .about-bottom{
        position: absolute;
        bottom: 10%;
        line-height: 0;
    }
    .container-circle{
        display:none;
    }
     .title{
         font-size:12px;
    }
     .star{
         width: 30px;
         height: 30px;
    }
     .whitespace-nowrap {
         white-space: nowrap;
    }
     .ml-10 {
         margin-left: 1rem;
    }
     .d-inline{
         display:inline-block;
    }
     .uppercase{
         text-transform: uppercase;
    }
     .text-white{
         opacity: 1;
         color: rgb(255 255 255);
    }
     .about{
         line-height: 30px;
         font-size: 22px;
         margin-top: 5%;
    }
     .font-bold{
         font-weight: 500;
    }
     a {
         text-decoration: none;
         color: black;
    }
     .App{
         margin:1% 5% 5% 5%;
    }
}
/*'md': '768px', */
 @media (max-width: 768px) {
    .about-bottom{
        position: absolute;
        bottom: 10%;
        line-height: 0;
    }
    .container-circle{
        display:none;
    }
     .App-header {
         display: flex;
         flex-direction: column;
         font-size: 22px;
         color: white;
    }
     .star{
         width: 30px;
         height: 30px;
    }
     .whitespace-nowrap {
         white-space: nowrap;
    }
     .ml-10 {
         margin-left: 1rem;
    }
     .d-inline{
         display:inline-block;
    }
     .uppercase{
         text-transform: uppercase;
    }
     .text-white{
         opacity: 1;
         color: rgb(255 255 255);
    }
     .container {
         height: 100vh;
    }
     .about {
         line-height: 60px;
         font-size: 30px;
         margin-top: 40%;
    }
     .font-bold{
         font-weight: 500;
    }
     .App{
         margin:5% 5% 5% 5%;
    }
     .title{
         font-size:22px;
    }
     .subtitle{
         font-size:20px;
    }
}
/* lg */
 @media (max-width: 1024px) {
}
/* xl */
 @media (max-width: 1280px) {
}
/* 2xl */
 @media (max-width: 1536px) {
}
